.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.card {
  width: 400px;
  margin: 0 16px 0 18px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--white-0);
}
.contariner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10%;
}
.line {
  width: 402px;
  height: 3px;
  margin: 0 4px 3px 0;
  border: solid 1px #d8d8d8;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.title {
  font-family: Prompt;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color:red;
}
.Oval-2 {
  width: 29px;
  height: 29px;
  margin: 0 8px 0 0;
  padding: 1px 12px 0 11px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: green;
}